body,
html {
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  margin:0;
  padding:0;
  background:#ddd;
  color:#111111;
  width:999px;
	line-height:1.55em;
	font-size:x-small;
	voice-family:"\"}\""; 
	voice-family:inherit;
	font-size:small;
}

h1, h2, h3, h4, h5, h6 {
	line-height:110%;
	padding:0;
	margin:1em 0 0.1em 0;
}
h1 {
	font-size:210%;
	color: black;
	margin:0 0 0.1em 0;
}
h2 {
	font-size:145%;
	display:block;
	background-color:#ddd;
	color: black;
	padding:0.2em 0.7em;
	margin:1em 0em 0.15em 0em;
	height:auto;
}
h3 { font-size:140%; color: black;}
h4 { font-size:125%; color: black;}
h5 { font-size:110%; color: black;}
h6 { font-size:95%; color: black;}

#wrap {
  background: #ddd;
  margin:0 auto;
  width:1024px;
}
#header {
  background:#ddd;
}
#header h1 {
    padding: 5px 5px 5px 5px;
    margin:0;
  }
#main {
  clear:both;
  background:#BBCCDD;
  text-align:left;
  width:95%;
  border: 1px #6699CC solid;
  margin-top: 3em;
  margin-left: 1em;
}

#main h2, #main h3, #main p, #main form {
  padding:0 10px;
  }

#main p, #main form {
  margin-left: 2em;
  margin-right: 5em;
}

#sidebar {
  background: #ddd;
  float:left;
  width:200px;
  margin-left: 1em;
}
#sidebar ul {
  margin-bottom:0;
  padding:0px;
  }
#sidebar li {
  list-style: none;
}
#sidebar h3, #sidebar p {
  padding:0px;
  padding-right: 2em;
  }
#footer {
  padding-top: 3em;
  background: #ddd;
  clear:both;
  color: #222222;
  text-align: center;
  font-size: 10px;
}
#footer p {
  padding:5px;
  margin:0;
  }

a {
  text-decoration: none;
  color: blue;
  }
a:hover {
  text-decoration: underline;
}

table.bomT {
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: #444444;
  width: 100%
  background-color: #fafafa;
  border: 1px #6699CC solid;
  border-collapse: collapse;
}

table.bomT td.bomHeader,
table.bomT td.field,
table.bomT td.topmodule,
table.bomT td.submodule {
  border-bottom: 2px solid #6699CC;
  background-color: #BBCCDD;
  text-align: center;
  font-family: Verdana, sans-serif, Arial;
  font-weight: bold;
  font-size: 11px;
  color: #444444;
}

table.bomT td.bomHeader {
  background-color: #ddd;
  font-size: 13px;
}

table.bomT td.submodule {
  background-color: #ddd;
  border-bottom: 0px;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px dotted #6699CC;
}

table.bomT td.topmodule {
  background-color: #BBCCDD;
  border-left: 1px dotted #CCC;
  text-align: left;
  border-bottom: 0px;
  padding-left: 0px;
  border-left: 1px dotted #6699cc;
}

table.bomT td { 
  text-align: left;
   font-family: Verdana;
   border-bottom: 1px dotted #6699CC;
   font-weight: normal;
   font-size: 11px;
   color: #444444;
   background-color: white;
   vertical-align: top;
   padding: 0 1em 0 1em;

}

table.bomT td.bomBorderLeft {
   border-left: 1px dotted #6699CC;
}

