#setup our site configuration
Options -Indexes
DirectoryIndex plister.php
RewriteEngine on

#for the part list generator
RewriteRule ^uniqueparts/?$			plister.php?controller=main&view=uniqueparts [NC,L]
RewriteRule ^partlist/?$			plister.php?mode=ajax&controller=main&view=partlist [NC,L]
RewriteRule ^amazon_checkout/?$		plister.php?controller=supplier&view=amazon_checkout [NC,L]

#detail type stuff
RewriteRule ^type/([a-zA-Z]+)$			plister.php?controller=parts&view=bytype&type=$1 [NC,L]
RewriteRule ^part/([a-zA-z]+)/(.+)$		plister.php?controller=parts&view=uniquedetail&type=$1&name=$2 [NC,L]
RewriteRule ^embed/([a-zA-z]+)/(.+)$	plister.php?mode=ajax&controller=parts&view=embed&type=$1&name=$2 [NC,L]
RewriteRule ^supplier/(.+)$				plister.php?controller=parts&view=bysupplier&name=$1 [NC,L]

#random stuff
RewriteRule ^about/?$					plister.php?controller=main&view=about [NC,L]
RewriteRule ^parts/?$					plister.php?controller=parts&view=all [NC,L]
RewriteRule ^suppliers/?$				plister.php?controller=supplier&view=all [NC,L]
RewriteRule ^statistics/?$			plister.php?controller=main&view=statistics [NC,L]
RewriteRule ^import/?$				plister.php?controller=import&view=home [NC,L]

#figure out a rule that doesnt allow plister.php as the initial request...
#RewriteRule ^plister.php	plister.php?controller=main&view=home [NC,L]