body
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px;
	margin: 10px;
	border: 1px solid #666;
}

a:link    {color: #1559B3;}
a:visited {color: #1559B3;}
a:hover   {color: #0509A3;}
a:active  {color: #0509A3;}

th
{
	text-align: left;
	vertical-align: top;
	padding: 3px 10px;
}

td
{
	padding: 3px 10px 3px 0px;
	border-top: 1px solid #666;
}

h2
{
	font-size: 18px;
	/* 18px is the default minimum font size for which anti-aliasing will occur. */
	margin: 20px 0px 10px 0px;
}

h3
{
	margin: 0px;
	padding: 5px 0px;
}

table
{
	border: 0px;
	border-spacing: 0px;
}
