#Reprap properties http://reprap.org/
#Thu May 07 18:20:55 BST 2009
Extruder0_ExtrusionLastFoundationWidth(mm)=2
Extruder2_InfillSpeed(0..1)=1
BackColourG(0..1)=0.9
Extruder2_CoolingPeriod(s)=0.1
WorkingOffsetX(mm)=-17.3
Extruder1_NozzleWipeEnabled=false
Extruder2_Beta(K)=550.0
Extruder0_ShortSpeed(0..1)=1
Extruder1_AngleSpeedFactor(0..1)=0.5
Extruder0_OffsetX(mm)=0
Extruder1_ColourB(0..1)=0.3
Extruder0_NozzleWipeStrokeX(mm)=0
Extruder1_Rz(ohms)=4837
Extruder1_OffsetY(mm)=0
Extruder2_NozzleWipeStrokeY(mm)=10
Extruder1_LowerFineLayers(0...)=0
Extruder2_MaterialType(name)=PLA-infill
Extruder2_OffsetZ(mm)=0
Extruder1_ShortLength(mm)=-1
Extruder2_Reverse(ms)=0
Debug=false
Extruder1_XYFeedrate(mm/minute)=1600
Extruder0_ValveDelayForLayer(ms)=200
Extruder2_MaxSpeed(0..255)=255
Extruder0_PauseBetweenSegments=false
Extruder1_NozzleWipeDatumX(mm)=22.4
Extruder2_ArcCompensationFactor(0..)=8
Extruder0_ExtrusionBroadWidth(mm)=2.0
BackColourB(0..1)=0.9
MaximumFeedrateX(mm/minute)=3000
WorkingY(mm)=300
Extruder2_NozzleWaitTime(s)=0
Extruder0_MinimumZClearance(mm)=-1
Extruder0_NozzleClearTime(s)=10
Extruder2_Rz(ohms)=4837
Extruder0_InfillSpeed(0..1)=1
Extruder0_ArcCompensationFactor(0..)=8
Extruder1_NozzleWipeStrokeX(mm)=0
Extruder0_RandomStart=false
MovementSpeedZ(0..255)=240
Extruder2_LowerFineLayers(0...)=0
Extruder1_ShortSpeed(0..1)=1
Extruder1_SeparationSpeed(mm/minute)=2500
Extruder2_XYFeedrate(mm/minute)=3000
SelectedColourG(0..1)=0.2
MachineColourR(0..1)=0.3
Extruder1_ExtrusionLastFoundationWidth(mm)=1
Extruder0_ExtrusionSpeed(mm/minute)=3000
FrontFactor=0.001
Extruder1_Address=8
Extruder0_NozzleWipeDatumX(mm)=22.4
ZAxisAddress=4
WorldName=RepRap-World
Extruder0_SeparationFraction(0..1)=0.8
Extruder2_ExtrusionSize(mm)=0.7
Extruder2_InFillMaterialType(name)=null
Extruder2_AngleSpeedLength(mm)=-1
Extruder2_ShortSpeed(0..1)=1
Extruder2_ColourG(0..1)=0.8
Extruder2_ExtrusionDelayForLayer(ms)=300
UnselectedColourG(0..1)=0.3
Extruder0_NozzleWaitTime(s)=0
Extruder2_ExtrusionOverRun(mm)=0
Extruder2_OddHatchDirection(degrees)=45
Subtractive=false
Extruder1_ExtrusionBroadWidth(mm)=2.0
SelectedColourB(0..1)=0.2
IdleZAxis=true
Extruder2_ExtrusionHeight(mm)=0.4
Extruder1_ValveDelayForPolygon(ms)=200
Extruder2_ShortLength(mm)=-1
Extruder2_ExtrusionInfillWidth(mm)=1.5
Extruder0_ExtrusionDelayForLayer(ms)=300
Extruder1_NozzleClearTime(s)=10
Extruder1_SupportMaterialType(name)=null
Extruder0_OddHatchDirection(degrees)=45
Port(name)=/dev/ttyUSB0
Extruder1_MinimumZClearance(mm)=-1
Extruder2_ExtrusionDelayForPolygon(ms)=200
BaudRate=19200
Extruder1_OffsetX(mm)=0
Extruder0_ColourR(0..1)=0.3
Extruder0_Beta(K)=550.0
Extruder2_NozzleWipeStrokeX(mm)=0
FourD=false
Extruder2_Capacitor(F)=0.000003
Extruder2_OffsetY(mm)=0
Extruder1_ExtrusionDelayForPolygon(ms)=200
Extruder2_t0(0..255)=0
Extruder0_IncrementedStart=true
Extruder2_ColourB(0..1)=0.3
Extruder1_ExtrusionHeight(mm)=0.4
XAxisScale(steps/mm)=7.99735
UnselectedColourB(0..1)=0.3
Extruder0_hm(C/pwr)=0.86
Extruder2_InfillOverlap(mm)=0.2
Extruder1_AngleSpeedLength(mm)=-1
BackFactor=2.0
Extruder0_ArcShortSides(0..)=1
Extruder0_ExtrusionSize(mm)=0.7
Extruder2_NozzleWipeFreq=1
Extruder0_ExtrusionDelayForPolygon(ms)=200
Extruder1_ExtrusionOverRun(mm)=3
Extruder2_AngleSpeedFactor(0..1)=0.5
FoundationLayers=0
MachineColourG(0..1)=0.4
Extruder2_ExtrusionLastFoundationWidth(mm)=2
Extruder0_Reverse(ms)=0
WorkingX(mm)=300
Extruder2_NozzleWipeEnabled=false
ZAxisTorque(%)=100
Extruder0_ExtrusionHeight(mm)=0.4
XAxisAddress=2
Extruder1_IncrementedStart=true
Extruder2_MinimumZClearance(mm)=-1
Extruder0_Capacitor(F)=0.000003
Extruder1_ValveDelayForLayer(ms)=200
Extruder2_NumberOfShells(0..N)=1
Extruder1_hm(C/pwr)=0.86
WorkingOffsetZ(mm)=-2
Extruder2_ExtrusionBroadWidth(mm)=-1
Extruder0_OffsetZ(mm)=0
Extruder2_NozzleClearTime(s)=10
Extruder0_AngleSpeedLength(mm)=-1
Extruder0_InfillOverlap(mm)=0.2
Extruder2_IncrementedStart=true
Extruder0_ExtrusionTemp(C)=190
Extruder0_ExtrusionOverRun(mm)=0
MachineColourB(0..1)=0.3
Extruder0_UpperFineLayers(0...)=2
XAxisTorque(%)=100
MaximumFeedrateY(mm/minute)=3000
RememberWindowPosition=false
Extruder0_OutlineSpeed(0..1)=0.9
Extruder1_InfillSpeed(0..1)=1
NumberOfExtruders=3
Extruder1_RandomStart=false
YAxisScale(steps/mm)=7.99735
Extruder0_ColourG(0..1)=0.3
Extruder0_NozzleWipeEnabled=false
Extruder2_Address=8
Extruder2_hm(C/pwr)=0.86
Extruder0_t0(0..255)=0
Extruder2_ValveDelayForPolygon(ms)=200
Extruder0_NozzleWipeFreq=1
Extruder0_InFillMaterialType(name)=PLA-infill
MouseZoomFactor=50
Extruder1_SeparationFraction(0..1)=0.8
Extruder1_NumberOfShells(0..N)=0
Extruder1_ExtrusionTemp(C)=190
RadiusFactor=0.7
Extruder0_ValvePulseTime(ms)=-500
Extruder1_ArcCompensationFactor(0..)=8
Extruder0_ExtrusionInfillWidth(mm)=0.5
Extruder1_ArcShortSides(0..)=1
Extruder2_OffsetX(mm)=0
Extruder1_ExtrusionSpeed(mm/minute)=3000
Extruder0_ColourB(0..1)=0.6
Extruder1_ColourR(0..1)=0.9
Extruder2_SeparationSpeed(mm/minute)=2500
WorkingLocation=reprap-wv.stl
Extruder0_AngleSpeedFactor(0..1)=0.5
Extruder0_ValveOverRun(mm)=2
Extruder1_Beta(K)=550.0
Extruder0_NumberOfShells(0..N)=1
Extruder2_NozzleWipeDatumY(mm)=4
Extruder1_UpperFineLayers(0...)=0
Extruder1_OutlineSpeed(0..1)=0.9
Extruder0_SeparationSpeed(mm/minute)=3000
ZAxisScale(steps/mm)=320
Extruder0_MaterialType(name)=PLA
FastSpeed(-1..255)=240
RepRap_Machine=GCodeRepRap
BackColourR(0..1)=0.9
Extruder2_ExtrusionTemp(C)=190
Extruder1_NozzleWaitTime(s)=0
WorkingOffsetY(mm)=-24.85
Extruder1_ValveOverRun(mm)=2
Extruder2_SupportMaterialType(name)=null
DisplaySimulation=false
Extruder0_OffsetY(mm)=0
Extruder0_NozzleWipeStrokeY(mm)=10
Extruder1_OffsetZ(mm)=0
Extruder1_Reverse(ms)=0
Extruder1_ExtrusionDelayForLayer(ms)=300
GCodeUseSerial=false
InterLayerCooling=true
Extruder0_CoolingPeriod(s)=0.1
Extruder1_ValvePulseTime(ms)=-500
Extruder1_OddHatchDirection(degrees)=45
Extruder2_EvenHatchDirection(degrees)=-45
MouseTranslationFactor=50
Extruder1_EvenHatchDirection(degrees)=45
Extruder2_ValveDelayForLayer(ms)=200
Extruder0_EvenHatchDirection(degrees)=-45
Extruder2_UpperFineLayers(0...)=0
Extruder2_ArcShortSides(0..)=1
Extruder1_NozzleWipeDatumY(mm)=4
Extruder2_ValveOverRun(mm)=2
XYReZeroInterval(mm)=-1
YAxisAddress=3
Extruder2_RandomStart=false
Extruder0_ShortLength(mm)=-1
WorkingZ(mm)=300
Extruder1_ExtrusionSize(mm)=0.7
Extruder2_PauseBetweenSegments=false
CommsDebug=false
Extruder0_MaxSpeed(0..255)=255
Extruder1_CoolingPeriod(s)=0.1
Extruder0_Address=8
Extruder1_NozzleWipeStrokeY(mm)=10
Extruder2_OutlineSpeed(0..1)=0.9
Extruder1_MaterialType(name)=PLA-support
Extruder0_XYFeedrate(mm/minute)=3000
SelectedColourR(0..1)=0.6
Extruder1_InFillMaterialType(name)=null
BoundFactor=3.0
Extruder2_SeparationFraction(0..1)=0.8
Extruder1_hb(C)=20
Extruder2_ExtrusionFoundationWidth(mm)=2
YAxisTorque(%)=100
MaximumFeedrateZ(mm/minute)=50
Extruder2_hb(C)=20
Extruder0_NozzleWipeDatumY(mm)=4
Extruder1_MaxSpeed(0..255)=255
Extruder1_Capacitor(F)=0.000003
Extruder1_ColourG(0..1)=0.6
Extruder1_ExtrusionFoundationWidth(mm)=2
AxisCount=3
Extruder1_t0(0..255)=0
Extruder0_Rz(ohms)=4837
Extruder0_LowerFineLayers(0...)=2
Extruder0_ValveDelayForPolygon(ms)=200
Extruder0_SupportMaterialType(name)=PLA-support
Extruder2_ColourR(0..1)=0.3
Extruder1_ExtrusionInfillWidth(mm)=2.0
Extruder0_ExtrusionFoundationWidth(mm)=2
Extruder1_NozzleWipeFreq=1
Extruder2_ValvePulseTime(ms)=-500
UnselectedColourR(0..1)=0.3
Extruder1_PauseBetweenSegments=false
Extruder1_InfillOverlap(mm)=0
Extruder2_NozzleWipeDatumX(mm)=22.4
Extruder0_hb(C)=20
Extruder2_SeparationOutlineSpeed(0..1)=1
Extruder2_ExtrusionSpeed(mm/minute)=3000
